<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="6f60b4">  <td>23/12/13 13:10:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="get_testclass.executor()[pri:0, instance:Test_package.get_testclass@3e27ba32]">executor</td> 
  <td>main@1367165453</td>   <td></td> </tr>
<tr bgcolor="bdfdcf">  <td>23/12/13 13:10:11</td>   <td>4471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="put_testclass.executor()[pri:0, instance:Test_package.put_testclass@3b0fe47a]">executor</td> 
  <td>main@1367165453</td>   <td></td> </tr>
<tr bgcolor="b4a79f">  <td>23/12/13 13:09:28</td>   <td>-37735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="patch_testclass.executor()[pri:0, instance:Test_package.patch_testclass@15bb5034]">executor</td> 
  <td>main@1367165453</td>   <td></td> </tr>
<tr bgcolor="bfc5a4">  <td>23/12/13 13:10:07</td>   <td>1199</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="post_tc1.executor()[pri:0, instance:Test_package.post_tc1@7ef82753]">executor</td> 
  <td>main@1367165453</td>   <td></td> </tr>
</table>
